*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: 'Poppins', sans-serif;
    color: white;
}

.portfolio{
    background: radial-gradient(rgba(43,55,96,1),rgba(11,16,35,1) );
}

nav{
    min-height: 10vh;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}


.page{
    min-height: 90vh;
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 5%;
}

.page-2{
    min-height: 90vh;
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 5%;
    line-height: 2;
    padding-bottom: 5%;
}

.hero{
    position: relative;
    overflow: hidden;
    height: 800px;
    align-self: center;
    justify-self: center;
    display: flex;
}

.hero img{
    height: 800px;
    transition: transform 0.3s ease-out;
    cursor: pointer;
}

.model-right{
    transform: translate(0%,10%);
}
.model-left {
    transform: translate(0%,-10%); 
}
.hero:hover .model-right {
    transform: translate(0%,0%);
}
.hero:hover .model-left {
    transform: translate(0%,0%);
}
.hero{
    background: center;
}


.img_description{
    position: absolute;
    padding: 400px 0px 20px 100px;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2, visibility .2s;


}

.hero:hover .img_description{
    visibility: visible;
    opacity: 1;
}
.hero:hover .model-left{
    background: rgba(29,106,154,0.72);
    color: #fff;
    opacity: 0.4;
}
.hero:hover .model-right{
    background: rgba(29,106,154,0.72);
    color: #fff;
    opacity: 0.5;
}



.details{
    grid-column: 2/3;
    align-self: end;
}


.details h1{
    font-size: 48px;
}

.details h2{
    font-size: 36px;
    padding: 20px 0px;
}

.details p{
    font-size: 18px;
    padding: 20px 0px 50px 0px;
}

/*
.pages{
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}


.pages > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

*/
/* 2e Pagina */
/*banner below */

.banner{
    height: 50vh;
    width: 100%;
    position: relative;
    opacity: 0.9;
}
.banner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
.author{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5) ;
    text-align: center;
    line-height: 1.5;
}
.author h1{
    font-size: 42px;
}
.author h3{
    padding: 10px 0px;
    font-size: 32px;
}

/* story part below */


.story, .my-work{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 80px 0px;
    color: black;
}

.story-description {
    width: 100%;
    line-height:1.5;
}

.work-description {
    width: 50%;
}
.story-description p{
    font-size:20px;
    color:black;
}

.work-description p{
    padding: 20px 0px;
    font-size: 20px;
    color: black;
    line-height: 1.5;
}
.story-description h3, .work-description h3{
    font-size: 36px;
    padding-bottom: 30px;
    color: black;
}




.profile img{
    width: 50%;
    height: auto;
}
.profile{
    display: inline;
    text-align: right;
}

.work-gallery{
    display: grid;
    grid-template-columns: repeat(3, 250px);
}
.work-gallery img{
    width: 100%;
    height: 100%;
}


/* responsiveness */

@media(max-width: 1024px){
    .page{
        grid-template-columns: 5% 1fr 5%;
        grid-template-rows: 2fr 1fr;
        align-items: center;
    }
    .hero{
        grid-column: 2/3;
        height: auto;
    }
    .hero img{
        height: 500px;
    }
    .img_description{
        padding: 250px 0px 20px 15px;
    }
    .details{
        grid-row: 2/3;
        grid-column: 2/3;
        text-align: center;
    }
    .details h1{
        font-size: 48px;
    }
    .details h2{
        font-size: 38px;
    }
    .story, .my-work{
        flex-direction: column;
        text-align: center;
    }
    .story-description, work-description{
        width: 100%;
        text-align: center;
    }
    .profile{
        padding-top: 30px;
        text-align: center;
    }   
    .work-description{
        width: 70%;
        text-align: center; 
        margin: 0;
        padding: 0px 0 20px 250px;
    }
    .work-gallery {
        padding-top: 30px;
        text-align: center;
        padding: 0px 0 20px 75px;
    }
    .work-gallery img{
        width: 70%;
        height: auto;
        }
}

@media(max-width:768px){
    .page{
        grid-template-rows: 1fr 1fr;
    }
    .hero img{
        height: 300px;
    }
    .details h1{
        font-size: 38px;
    }
    .details h2{
        font-size: 28px;
    }

    .hero{
        position: relative;
    }

.img_description{
    position: absolute;
    padding: 400px 0px 20px 100px;
}

.work-description{
    width: 100%;
    text-align: center; 
    margin: 0;
    padding: 0px 0 20px 20px;
}
.work-gallery {
    text-align: center;
    padding: 30px 0 20px 25px;
    width: 50%;
    height: auto;
}
.work-gallery img{
    height: 20%;
    width: auto;
    }

    
}